body {
    background-color: #333;
    overflow: no-content;
    margin-top: 10%;
}

#body > div > h1 {
    color: white;
}

#body > div > div:nth-child(3) > div.cf-right-col > div:nth-child(1) > div > a
{
     color: white;   
}